.category-placement *{
    font-size: 18px;
    
}

.category-placement li{
  border-bottom: 2px solid #1E0F37;
  padding: 0.25rem 0;
}




@media screen and (min-width: 600px) {
    .category-placement{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }