* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Kanit', sans-serif;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700;900&display=swap'); // font kanit

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//background color 
$background-image: url("../img/bg-forum-medium.jpg");
$bg-color: #000;
//font color
$ft-color: #fff;

//hover font
$hover-font: #E85706;

h1,h2,h3{
	font-weight: bold;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 25px;
}


h3{
	font-size: 20px;
}

a{
	color: $ft-color;
	text-decoration: none;
	transition: .35s;
}

 a:hover{
	color: $hover-font;
}



body{
	background-image: $background-image;
	background-position: center;
	background-size: cover;
	backdrop-filter: blur(5px);
    background-color: $bg-color;
	color: $ft-color;
}

// BARRE DE NAVIGATION 

.container-nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#nav-right{
	background-color: $bg-color;
	padding: 1rem;
}

#nav-right a{
	padding: 0 .5rem;
}



main{
	min-height: 90vh;
	display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// conteneur de toute les pages
.container{
	border-radius: 10px;
	background-color: $bg-color;
	padding: 1.5rem;
	margin: 2rem 0;
}

footer{
	background-color: $bg-color;
	padding: 1.5rem;
}